<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.usst.exerciseweb.customermgr.dao.CustomerDAO">

    <!--加入缓存，一下两个任选其一，第一个可以输出日志，第二个不能输出日志-->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />-->
    <cache type="org.mybatis.caches.ehcache.EhcacheCache" />

    <!--插入-->
    <insert id="create" parameterType="CM">
        INSERT INTO tbl_customer(customerId, pwd, showName, trueName,registerTime)
        VALUES (#{customerId},#{pwd},#{showName},#{trueName},#{registerTime})
    </insert>

    <!--更新-->
    <update id="update" parameterType="com.usst.exerciseweb.customermgr.vo.CustomerModel">
        UPDATE tbl_customer SET customerId=#{customerId},pwd=#{pwd},
            showName=#{showName},trueName=#{trueName},registerTime=#{registerTime}
             WHERE uuid=#{uuid}
    </update>

    <!--删除-->
    <delete id="delete" parameterType="int">
        DELETE FROM tbl_customer where uuid=#{uuid}
    </delete>

    <!--按uuid选择-->
    <select id="getByUuid" parameterType="int"
            resultType="com.usst.exerciseweb.customermgr.vo.CustomerModel">
        SELECT * FROM tbl_customer WHERE uuid=#{uuid}
    </select>

    <!--根据uuid进行查询-->
    <select id="getByCustomerId" parameterType="String"
            resultType="com.usst.exerciseweb.customermgr.vo.CustomerModel">
        SELECT * FROM tbl_customer WHERE customerId=#{customerId}
    </select>

    <select id="getByConditionPage" parameterType="CQM" resultType="CM">
        select * from tbl_customer
        <where>
            <if test="uuid!=null &amp;&amp; uuid > 0">
                and uuid=#{uuid}
            </if>
            <if test="customerId!=null &amp;&amp; customerId!=''">
                and customerId=#{customerId}
            </if>
            <if test="showName!=null &amp;&amp; showName!=''">
                and showName=#{showName}
            </if>
        </where>
    </select>
</mapper>