<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.usst.exerciseweb.ordermgr.vo.OrderModel" alias="OM"/>
		<typeAlias type="com.usst.exerciseweb.ordermgr.vo.OrderQueryModel" alias="OQM"/>
		<typeAlias type="com.usst.exerciseweb.ordermgr.vo.OrderDetailModel" alias="ODM"/>
		<typeAlias type="com.usst.exerciseweb.ordermgr.vo.OrderDetailQueryModel" alias="ODQM"/>
		<typeAlias type="com.usst.exerciseweb.cartmgr.vo.CartModel" alias="CartM"/>
		<typeAlias type="com.usst.exerciseweb.cartmgr.vo.CartQueryModel" alias="CartQM"/>
		<typeAlias type="com.usst.exerciseweb.storemgr.vo.StoreModel" alias="StoreM"/>
		<typeAlias type="com.usst.exerciseweb.storemgr.vo.StoreQueryModel" alias="StoreQM"/>

	</typeAliases>
	<plugins>
		<plugin interceptor="com.usst.pageutil.PagePlugin">
			<property name="dialect" value="mysql"/>
			<property name="pageSqlId" value=".*Page.*"/>
		</plugin>
	</plugins>
</configuration> 